.bg {
  font-family: MavenPro;
  background: #fff;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden auto;

  .bgImg {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .bgImgInner1 {
    position: relative;
    width: 449px;
    height: 998px;

  }

  .bgImgInner2 {
    position: relative;
    margin-top: 164px;
    width: 470px;
    height: 753px;
  }

  .bgImgInner3 {
    position: relative;
    margin-top: 250px;
    width: 469px;
    height: 900.7px;
  }

  .bgImgInner4 {
    position: relative;
    right: 0;
    margin-top: 102px;
    width: 563px;
    height: 1086px;
  }
}

.manifesto {
  margin-top: 110px;
}

.container {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 0 62px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;


  .header {

    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    left: 0;
    height: auto;

    .titleContainer {
      box-sizing: content-box;
      padding: 50px 0 10px 0;
      width: auto;
      max-width: 1440px;
      align-self: stretch;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 46px;
      border-bottom: solid 1px var(--medium-dark-grey);
      margin: 0 auto;

    }
  }

  .content {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    height: auto;
    font-size: 16px !important;
  }

  .footer {
    margin-top: 100px;
    height: 67px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    gap: 15px;
    padding: 20px 0;
    border-top: solid 1px var(--medium-dark-grey);
    color: #484848;
    font-size: 18px;
  }

}