.protocol {
    width: 100%;
    height: auto;
    margin-top: 50px;

    h1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 28px;
        margin-bottom: 40px;
    }


    .desc {
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
    }
}

@media screen and (max-width: 500px) {
    .protocol {
        margin-top: 10px;
    }

    .icData {
        width: 348px;
        height: 336px;
    }
}